<launch>
    <arg name="pkg_name" value="turn_coordinate"/>
    <arg name="node_name" default="turn_coordinate_node"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false"
    <group ns="$(arg veh)">
        <!-- run local -->
        <node if="$(arg local)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py"
              output="screen">
            <rosparam command="load"
        </node>
        <!-- run remote -->
        <node unless="$(arg local)" machine="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)"
              type="$(arg node_name).py" output="screen">
            <rosparam command="load"
        </node>
    </group>
</launch>